.container-botoes{
    display:flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}
button{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;

    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px  -1px rbga(79,70,229,0.1) 0 2px 4px -1px rgba(79,70,229,0.06);
    transition:all 0.2s ease-in-out;
}
button:hover{
    background-color: #4338CA;
    transform: translateY(-2px);
    box-shadow: 0 10px 15px -3px rgba(79, 20, 229, 0,3), 0 4px 6px -2px rgba(79,70,229,0.1);

}

